--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
bcrypt
python-jose[cryptography]
python-multipart
ultralytics
opencv-python-headless
numpy
matplotlib