
DATABASE_URL=postgres://avnadmin:AVNS_6u6b7lsFPGULs_4ovqt@cricket-yolo1-muhammadebrahimimran7-9b0c.k.aivencloud.com:23548/defaultdb?sslmode=require

# A long random string - used to sign login tokens. Generate one with:
#   python -c "import secrets; print(secrets.token_hex(32))"
BOWLING_APP_SECRET_KEY=2529af9011ae2854e1626a063357dd5a7f668f669d04f19d186044d3355a5ea3
